table,tr,th,td{
  border: 2px solid olivedrab;
  border-collapse: collapse;
  padding: 10px;
  border-spacing: 5px ;
}

th {
  background-color: rgb(46, 105, 54);
}
td{
  background-color:rgb(136, 136, 49) ;
}
h2,h1,h3{
  color: rgb(241, 13, 184);
}